# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

mlruns/
mlflow.db

data/
fonts/
*.pt
*.pth
model/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

dataset/
model/dev
model/prod
checkpoints/training